* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(41, 70, 152, 1) 54%
  );
}

.app-title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: white;
  background-color: rgb(7, 7, 44);
  text-align: center;
}

.app-container {
  height: 800px;
  border: 1px solid;
  max-width: 600px;
  position: relative;

  background-image: url("./assets/quiz-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.question-container {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  background-color: rgba(7, 36, 133, 0.404);
  font-size: 22px;
  width: 320px;
  height: 200px;
  border: 1px solid;
  margin: 30px auto;
  padding: 10px;
}

.answers-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.answer {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 1px solid;
  width: 150px;
  height: 50px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
}

/* .categories {
  width: 350px;
  display: flex;
  align-items: flex-end;
}

.tag {
  width: 60px;
  height: 30px;
  border: 1px solid;
  margin: 30px;
  border-radius: 8px;
} */

.nav-bottom {
  color: white;
  background-color: rgb(4, 4, 41);
  display: flex;
  width: 600px;
  height: 65px;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  justify-content: space-around;
}

.nav-bottom-btn {
}
